apiVersion: v1
kind: Service
metadata:
  name: mysql
  namespace: user-management
  labels:
    app: mysql
spec:
  ports:
    - port: 3306
      name: mysql
  selector:
    app: mysql
  clusterIP: None
